#logostart {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoAccueil2 {
    width: 40%;
    height: auto;
    animation-duration: 4s;
    animation-name: fadeInOut;
}

@keyframes fadeInOut {
    from {
        transform: scale(0.4);
    }
    to {
        transform: scale(0.8);
    }
}